<p style="color: green"><%= notice %></p>

<h1>Ponts</h1>

<div id="ponts">
  <% @ponts.each do |pont| %>
    <%= render pont %>
    <p>
      <%= link_to "Show this pont", pont %>
    </p>
  <% end %>
</div>

<%= link_to "New pont", new_pont_path %>
